* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.input {
  width: 276px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 5px white;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
  /* margin-bottom: 2%; */
  margin-top: 3%;
  background-color: black;
}

/* .container-input svg {
  position: absolute;
  top: 77%;
  left: 41%;
  transform: translate(0, -50%);
} */

.input:focus {
  opacity: 1;
  width: 250px;
  color: white;
  background-color: black;
}

::placeholder {
  color: white;
}

.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/public/img/nature1.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.main-container {
  /* display: flex; */
  width: 100%;
  min-height: 100vh;
  justify-content: center !important;
  align-items: center !important;
}

.card {
  /* display: flex; */
  text-align: center;
  width: 35%;
  margin-top: 3%;
  justify-content: space-evenly;
  margin: 1rem auto;
  padding: 1rem;
  margin-top: 5%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: rgba(236, 226, 226, 0.272);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px)saturate(180%);
  border: 0.4px solid rgba(255, 255, 255, 0.32);
}

h1 {
  /* margin-left: 18%; */
  /* margin-top: 1%; */
  font-size: 60px;
  font-weight: 900;

  /* color: white; */
}

h2 {
  /* margin-left: 18%; */
  font-size: 40px;
  font-weight: 900;

  /* color: white; */
}

h3 {
  /* margin-left: %; */
  font-size: 30px;
  font-weight: 900;

  /* color: white; */
}

.card1 {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  margin-top: 5%;
  border-radius: 10px;
  background-color: rgba(236, 226, 226, 0.272);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px)saturate(180%);
  border: 0.4px solid rgba(255, 255, 255, 0.32);
}

h4 {
  font-weight: 900;
  font-size: 20px;
}

@media screen and (max-width:1400px) {

  .container-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 276px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    margin-bottom: 5%;
    margin-top: 3%;
    
  }

  .container-input svg {
    position: absolute;
    top: 42%;
    left: 38%;
    transform: translate(0, -50%);
  }

  .card {
    text-align: center;
    width: 50%;
    margin-top: 3%;
    justify-content: space-evenly;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 3%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 700;
    /* color: blue; */
  }

  h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 600;
  }

  .card1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 82%;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 25px;
  }
}

@media screen and (max-width:1200px) {

  .container-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 276px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    margin-bottom: 5%;
    margin-top: 3%;
    
  }

  .container-input svg {
    position: absolute;
    top: 42%;
    left: 38%;
    transform: translate(0, -50%);
  }

  .card {
    text-align: center;
    width: 50%;
    margin-top: 3%;
    justify-content: space-evenly;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 3%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 700;
    /* color: blue; */
  }

  h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 600;
  }

  .card1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 82%;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 25px;
  }
}

@media screen and (max-width:992px) {

  .container-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 276px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    margin-bottom: 5%;
    margin-top: 3%;
    
  }

  .container-input svg {
    position: absolute;
    top: 42%;
    left: 38%;
    transform: translate(0, -50%);
  }

  .card {
    text-align: center;
    width: 50%;
    margin-top: 3%;
    justify-content: space-evenly;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 3%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 700;
    /* color: blue; */
  }

  h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 600;
  }

  .card1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 82%;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 25px;
  }
}

@media screen and (max-width:768px) {

  .container-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 276px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    margin-bottom: 5%;
    margin-top: 3%;
    
  }

  .container-input svg {
    position: absolute;
    top: 44%;
    left: 33%;
    transform: translate(0, -50%);
  }

  .card {
    text-align: center;
    width: 50%;
    margin-top: 3%;
    justify-content: space-evenly;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 3%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: 600;
    /* color: blue; */
  }

  h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 700;
  }

  h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
  }

  .card1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 82%;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 21px;
  }
}

@media screen and (max-width:480px) {

  .container-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 276px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    margin-bottom: 5%;
    margin-top: 3%;
    
  }

  .container-input svg {
    position: absolute;
    top: 46%;
    left: 24%;
    transform: translate(0, -50%);
  }

  .card {
    text-align: center;
    width: 50%;
    margin-top: 3%;
    justify-content: space-evenly;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 3%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 500;
  }

  h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
  }

  h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .card1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 82%;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 17px;
  }
}

@media screen and (max-width:320px) {

  .container-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 171px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    margin-bottom: 5%;
    margin-top: 3%;
    
  }

  .input:focus {
    opacity: 1;
    width: 171px;
  }

  .container-input svg {
    position: absolute;
    top: 46%;
    left: 24%;
    transform: translate(0, -50%);
  }

  .card {
    text-align: center;
    width: 60%;
    margin-top: 3%;
    justify-content: space-evenly;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 3%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
  }

  h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
  }

  h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .card1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
}

@media screen and (max-width:240px) {

  .container-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 171px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    margin-bottom: 5%;
    margin-top: 3%;
    
  }

  .input:focus {
    opacity: 1;
    width: 171px;
  }

  .container-input svg {
    position: absolute;
    top: 46%;
    left: 24%;
    transform: translate(0, -50%);
  }

  .card {
    text-align: center;
    width: 80%;
    margin-top: 3%;
    justify-content: space-evenly;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 3%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
  }

  h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
  }

  h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .card1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(236, 226, 226, 0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    border: 0.4px solid rgba(255, 255, 255, 0.32);
  }

  h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 12px;
  }
}